<body>
  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <div class="col12">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>


                      <br />
                      <div>
                        <h1 style="text-align:center"><strong>利用規約</strong></h1>
                        <br/><br/><h3><strong>はじめに</strong></h3>
                        本利用規約は、株式会社イントレ（以下「弊社」といいます）が管理運営するウェブサイト「Int.review」（以下「本サイト」といいます）を利用するユーザーの一切の行為に適用されます。
                        ユーザーは、本利用規約の全ての記載内容について同意し、本利用規約に従って本サイトを利用するものとします。
                        本利用規約は、弊社の判断で任意に変更できるものとします。ユーザーは、本サイトを利用する場合、その時点で適用されている規約の内容に同意するものとします。<br/>
                        <br/>
                        <br/><br/><h3><strong>定義</srong></h3><br/>
                        本利用規約において使用する用語の意義は、次の各号に定めるとおりとします。
                        •	「本サービス」とは、本サイト上で提供される全てのサービスをいいます。
                        •	「ユーザー」とは、本サイトを利用する全ての対象者をいいます。
                        •	「投稿情報」とは、口コミの書き込み、評価情報等、本サービスを利用して投稿できる一切の情報をいいます。
                        •	「投稿」とは、ユーザーが本サイトに投稿情報をアップロードする行為をいいます。<br/>
                        <br/><br/><br/><h3><srong>規約の範囲および適用など</strong></h3>
                        本サービスは、新サービスの開始、既存サービスの停止、情報更新等に伴い、事前の通知なく変更・追加・削除される場合があります。予めご了承ください。
                        本サイト内の個別サービスの利用規約および注意事項、その他弊社が別途規定する個別の規定も、その名目の如何に関わらず、本利用規約の一部を構成するものとします。
                        本利用規約の規定と、本サイト内の個別サービスの利用規約および注意事項の規定が異なる場合は、個別サービスの規定が優先して適用されるものとします。<br/>
                        <br/><br/><h3><strong>ユーザーへの通知</strong></h3>
                        弊社は、オンライン上の表示その他弊社が適当と判断する方法により、会員に対し随時必要な事項を通知します。この通知は、弊社がその通知の内容を本サイト上に表示した時点（弊社が適当と判断する方法により通知を行う場合は、弊社がその通知を発信したと認められる時点）より効力を発揮するものとします。<br/>
                        <br/><br/><h3><strong>規約の変更 </strong></h3>
                        本利用規約は、弊社の判断により、事前の通知なく変更されることがあります。
                        変更後の利用規約は、弊社が別途定める場合を除いて、弊社が本利用規約の変更をユーザーに通知した時点より効力を発揮するものとします。
                        ユーザーが、本利用規約変更の後に本サービスを利用する場合には、変更後の利用規約の全ての記載内容に同意したものとみなされます。<br/>
                        <br/><br/><h3><strong>  書き込み </strong></h3>
                        ユーザーの書き込みまたは編集情報は、随時更新していますが、即時に反映されないことがあります。
                        書き込みまたは編集情報について、弊社が本利用規約に違反している等、本サービスへの掲載に不適格と判断した場合には、当該書き込みまたは編集情報の全部または一部を掲載しない場合や公開範囲を変更する場合、弊社が修正を行う場合があります。
                        弊社は、次に掲げる場合には、情報の違法性・規約違反の有無に関わらず、関連する情報について、その全部もしくは一部の削除または公開範囲の変更等の措置を行うことができるものとします。<br/>
                        <br/><br/><h3><strong>削除権限</strong></h3>
                        •	公的な機関または専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット、ホットライン、弁護士等）から、投稿された情報について、違法性、公序良俗違反または他人の権利を侵害する等の指摘、意見表明があった場合。
                        •	権利者と称する者から、投稿された情報が自分の権利を侵害する旨の申告があった場合。<br/>
                        <br/><br/><h3><strong>著作権</strong></h3>
                        ユーザーは、自ら著作権等の知的財産権を有するか、または権利者の許諾を得た文章、画像等の情報のみ、本サービスに書き込みまたは編集することができるものとします。
                        ユーザーが本サービスを利用して書き込みまたは編集した文章、画像等の著作権については、ユーザーが書き込みを行った時点で、著作権法27条および 28条の権利を含む著作権法上の全ての権利を弊社に対して無償で譲渡したものとし、弊社および弊社の使用許諾を受けた第三者が無制限に利用できるものとします。
                        また、ユーザーは、弊社および弊社の使用許諾を受けた第三者に対して著作者人格権（公表権、氏名表示権、同一性保持権）を一切行使しないものとします。
                        ユーザーが本サービスを退会する場合においても上記の規定は継続するものとし、ユーザーは退会以前に投稿した内容を編集・削除することはできません。<br/>
                        リンク先サービスへの会員登録
                        •	ユーザーは、ユーザー自身の任意の判断で、弊社サイト内のリンクから他社のサービスに会員登録することができます。
                        •	弊社は、ユーザーの同意を得た場合、弊社の会員情報を「弊社サイト内のリンクから行う他社サービスの会員登録」に利用できるものとする。
                        •	ユーザーが弊社サイト内のリンクから他社サービスに会員登録した場合、これに起因する紛争はユーザーと当該他社の間で解決するものとし、弊社はその責を負いません。<br/>
                        <br/><br/><h3><strong>禁止行為 </strong></h3>
                        ユーザーは、本サービスの利用にあたり、次に掲げる禁止事項を行ってはならないものとします。
                        禁止事項に違反した場合には、ユーザーのサービス利用停止、投稿された情報の全部もしくは一部の削除、または公開範囲の変更等の措置をとることがあります。
                        ユーザーは、弊社が本利用規約に基づいて行った禁止行為への対策措置について、異議を申し立てることはできません。<br/>
                        •	自分、他のユーザーまたは第三者に関する虚偽の情報を提供、公開する行為<br/>
                        •	他のユーザー、第三者を誹謗中傷する行為<br/>
                        •	他のユーザー、第三者の著作権、商標権その他の権利を侵害する行為<br/>
                        •	他のユーザー、第三者の財産、名誉、プライバシー、肖像権等を毀損または侵害する行為<br/>
                        •	営利目的の情報収集行為<br/>
                        •	スクレイピング等による当サイトからの情報収集行為、また当サイトに一般的利用方法以上に負荷をかける行為<br/>
                        •	本サービス内のデータを、弊社の事前の同意なくして複写、もしくはその他の方法により再生、複製、譲渡、頒布すること、またはこれらの目的で使用するために保管する行為<br/>
                        •	本サービスの利用によって得た情報をみだりに第三者へ公開する等、本サイトのサービス運営を妨げる行為や弊社の信用を毀損する、またはそのおそれがある行為<br/>
                        •	犯罪に結びつく、またはそのおそれがある行為<br/>
                        •	公序良俗、法律、法令に反する行為<br/>
                        •	政治活動や宗教活動、またはそれらに類似する行為<br/>
                        •	他者への不当な差別を助長し、その名誉もしくは信用を毀損する行為<br/>
                        •	ユーザー自身以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装ったり、他の人物や組織と提携・協力関係にあると偽って本サービスを利用する行為<br/>
                        •	詐欺、規制薬物の濫用、児童売買春、預貯金口座および携帯電話の違法な売買等の犯罪に結びつく、またはそのおそれがある行為<br/>
                        •	人の殺害、傷害現場の情報、残虐な行為の情報を投稿する行為<br/>
                        •	次に掲げるスパム行為<br/>
                        o	スパム投稿、スパムメッセージ： 一人または複数のユーザーが、本サイト内の投稿可能な箇所に、同一または類似の文章を投稿する行為<br/>
                        o	スパムワード：一人または複数のユーザーが、本サイト内の投稿可能な箇所に、当該箇所と無関係もしくは関連性の希薄な語句を複数羅列する、または著しく長い文章や大量の語句を投稿する行為<br/>
                        o	スパムURL：一人または複数のユーザーが、本サイト内の投稿可能な箇所に、同一のURLを投稿する行為<br/>
                        o	その他弊社がスパムと判断する行為<br/>
                        •	弊社の設備に蓄積された情報を不正に書き換える、または消去する行為<br/>
                        •	ウィルス等の有害なコンピュータプログラム、スクリプトを送信または掲載する、もしくはそれらの有害なページに誘導する行為<br/>
                        •	弊社または他者のサーバーに負担をかける行為、もしくは本サービスの運営やネットワーク、システムに支障を与える行為、またはこれらのおそれがある行為<br/>
                        •	法令、公序良俗または本利用規約、その他の利用規約等に違反し、または他者の権利を侵害すると弊社が判断する行為<br/>
                        •	民族、人種、性別、年齢等による差別につながる表現を掲載する行為<br/>
                        •	性行為や性器に該当する言葉、猥褻的な表現を掲載する行為<br/>
                        •	その他、本サービスを妨げる、またはそのおそれがある行為<br/>
                        以上の行為があると弊社が認めた場合、状況を判断した上で掲載情報の変更・削除を含めたしかるべき処置をとります。<br/>
                        なお、弊社は本利用規約違反行為に対して取った処置に関して一切の責任を負わず、また処置に関する質問、苦情は一切受け付けておりません。<br/>
                        判断の難しいケースに関しては、運営基準と照らし合わせ、複数のスタッフにより都度判断をくだします。その場合、ユーザーの皆様から寄せられる通報に対して迅速な対応ができない場合があります。<br/>
                        利用規約の違反への対処<br/>
                        本利用規約またはその他の利用規約等に違反する行為を発見した場合には、問い合わせフォームから通報してください。<br />
                        上記以外の方法によって、ユーザーが違反の通報や問い合わせを弊社宛と明記して送信しても、弊社はこれに適切な回答または対処をすることができません。<br />
                        <br/><br/><h3><strong>損害賠償</strong></h3>
                        •	ユーザーが本利用規約に違反し、弊社に損害を与えた場合、当該ユーザーは、弊社に対して直接、間接を問わず一切の損害の賠償義務を負担するものとします。<br />
                        •	本サイトに関して紛争が生じ、弊社がユーザーまたは第三者からの請求に応じて損害賠償その他の支払いを行うことを余儀なくされた場合、弊社は、当該紛争の原因を作出したユーザーに対し、当該紛争により出損した一切の費用（損害賠償金、訴訟費用および弁護士費用等を含みますが、これに限られません）を請求できるものとします。<br />
                        サービス内容の変更<br />
                        弊社は、弊社の都合により、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。
                        <br/><br/><h3><strong>  免責事項   </strong></h3>
                        •	本サービスの利用（書き込み、編集、ウェブサイトの閲覧、情報収集 等を含みますが、それに限られません）は、全てユーザーの自己責任で行うものとします。<br />
                        •	弊社は、本サービスに掲載されている情報もしくは本サービスの各ページからリンクしている外部サイトおよび外部サイトの各ページに関して、正確性、合法性、有効性およびその他一切に関する事由について保証するものではなく、また、本サービスに掲載されている情報の正確性、合法性、有効性に関する監視、審査、調査等の管理につき、一切免責されるものとします。<br />
                        •	弊社は、天災地変、騒乱、ウイルス、不正アクセス、その他の運用上または技術上の不可抗力によるサービス中断または情報流出等、弊社の故意、過失に基づかない事態によってユーザーに損害が生じた場合、その損害（精神的苦痛、事業の中断またはその他の金銭的損害を含む一切の不利益）に関して、一切免責されるものとします。<br />
                        •	弊社は、ユーザーの通信や活動に関与しません。万一、ユーザー間に紛争があった場合でも、当該ユーザー間で解決するものとし、弊社はその責任を負いません。<br />
                        •	弊社は、本サービスの内容の追加、変更、または本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。<br />
                        •	弊社は、ユーザーによって投稿される情報を監視または保存する義務を負いません。<br />
                        •	弊社は、ユーザーによって投稿される情報の合法性、道徳性、信頼性、正確性について責任を負いません。ユーザーによって投稿される情報が、当該ユーザーが所属する法人、団体等の内部規則等に適合することについても、責任を負いません。<br />
                        •	弊社は、次に掲げる場合には、当該情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」といいます）ができるものとします。弊社は、それによって生じたいかなる損害についても、一切責任を負いません。<br />
                        o	本サービスの技術的不具合の原因を解明し、解消するため必要な場合。<br />
                        o	本利用規約に違反する行為またはそのおそれのある 行為が行われ、情報の内容を確認する必要が生じたと弊社が判断した場合。<br />
                        o	人の生命、身体および財産などに差し迫った危険があり、緊急の必要性があると弊社が判断した場合。<br />
                        o	その他本サイトを適切に運営するために必要が生じた場合。<br />
                        •	弊社は、本利用規約またはその他の利用規約等に違反する行為またはそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、情報の全部もしくは一部の削除や編集、および公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。<br />
                        •	以上の定めに関わらず、本サービス利用に当たり、弊社の責に帰すべき事由によりユーザーが損害を被り、弊社がその損害を賠償すべき責任を負う場合であっても、弊社に故意または重過失が無い限り、弊社は1千円を上限とする責任しか負いません。<br />
                        <br/><br/><h3><strong>  雑則 </strong></h3>
                        準拠法、裁判管轄<br /><br />
                        本規約のいずれかの部分が無効である場合でも、本規約全体の有効性には影響がないものとし、無効とされる部分については、その趣旨に最も近い有効な規定を当該無効の部分と置き換えるものとします。
                        本規約に関する紛争については、準拠法を日本法とし、東京地方裁判所を第一審の専属合意管轄裁判所とします。<br />
                        平成29年4月16日 施行
                        </div>            </div>
          </div>
          </div>
          </div>
        </div>
    </body>
    <footer>
      <div class="globalnav__footer">
          <ul>
              <ls class="entry_button"><a href="/terms" style="float:middle">利用規約</ls></a>
              <ls class="entry_button"><a href="/abouts" style="float:middle">"イントレ"について</ls></a>
              <ls class="entry_button"><a href="" style="float:middle">お問い合わせ</ls></a>
          </ul>
          <div class="copyright">
            Copyright (C) 2015 株式会社イントレ All Rights Reserved.
          </div>
      </div>
    </footer>
