<div class="user_page">
  <header class="user_page-header">
  </header>
  <div class="pt1em pb1em" id="contents">
    <div id="main_cnt_wrapper">
          <div class="yjContainer">
            <article class="section">
              </div>
            </section>
          </div>
      </div>
    </div>
