<body>
  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <span class="breadcrumb .icon-home" style="text:small;"><a href="/">Int.reviewトップ</a>><a href="">メール送信完了画面</a></span>

      <div class="static_page">
        <div class="centered_article"style="width:50%;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">イントレビューへの仮登録が終わりました。</h4>
          </div>
          <div class="panel-body"><p>送信されたメールから、本登録を完了してください。</p></div>
          <a href="/"><button type="button" class="btn btn-default">口コミ一覧へ戻る</button></a>
        </div>
       </div>
     </div>

       </div>
     </div>
   </div>
 </div>
</body>
