<body>
<div id="main_cnt_wrapper">
<div id="yjContentsBody">
  <div class="yjContainer">
    <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
    <span class="breadcrumb .icon-home" style="text:small;"><a href="/">Int.reviewトップ</a>><a href="">質問画面</a></span>

  <div class="static_page">
    <div class="centered_article"style="width:50%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">登録STEP1</h4>
</div>
      <div class="panel-body"><p>あなたの所属を教えてください</p></div>
      <input><button type="button" class="btn btn-default">学生</button></a>
      <a href="pages/question3"><button type="button" class="btn btn-default">社会人</button></a>
      <a href="pages/question4"><button type="button" class="btn btn-default">その他</button></a>
    </div>
   </div>
 </div>

   </div>
 </div>
</div>い
</div>
</body>
