<head>
<link rel="canonical" href="https://www.int-review.jp/abouts">
</head>

<body>

  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <div class="col12">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <span class="breadcrumb .icon-home" style="text:small;"><a href="/">Int.reviewトップ</a>><a href="">イントレについて</a></span>
              <br />
              <header class="header">
                <h1 class="push5" style="float:center; text-align:center; margin:0 auto; width:80%;">イントレとは？</h1>
              </header>
              <br />
              <div class="push5" style=" float:center; text-align:center; margin:0 auto; width:80%;">
              <p><em>「学生の内に出来るだけ遊んでおきな。学生が一番楽しい時期だからさ。」</span></em></p><br />

              <p>社会に出た先輩からのアドバイス。彼の目は、正直に言って疲れ果てている。</span></p><br />

              <p>彼のようなアドバイスを受けて、何となく、社会人として働くことを知ってゆく。</span></p><br />

              <p>"俺も働くとこうなるのか、だったら今遊べるだけ遊んでおこうかな..."</span></p><br />

              <p>本当にそうなのだろうか？</span></p><br />

              <p>一歩キャンパスの外へ踏み出して見よう。</span></p><br />

              <p>そこには、大学生としての枠を自らで外し、自分自身に挑戦をした多くの先輩がいる。</span></p><br />

              <p>そこには、心から尊敬の出来る先輩がいる</span></p><br />

              <p>そこには、自分の人生を変える劇的なチャンスがある</span></p><br />

              <p>INT.REVIEWは、長期インターンシップ・企業アルバイトに参加をした先輩方の声を届けて、
                皆さんの挑戦を応援するクチコミサイトです。</span></p><br />

            </div>
          </div>
          </div>
          </div>
        </div>

    </body>
